APP_NAME="Quibdo Auth Service"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8001

DB_CONNECTION=mongodb
MONGODB_URI=mongodb://127.0.0.1:27017
DB_DATABASE=quibdo_seguro

SANCTUM_STATEFUL_DOMAINS=localhost,localhost:3000,127.0.0.1

# URLs de otros servicios
NOTIFICATION_SERVICE_URL=http://localhost:8004
